body {
  background-color: bisque;
}

.slick-current {
  box-shadow: 4px 4px 7px;
  transition: all ease-in-out .3s;
}

.slick-prev::before, .slick-next::before {
  font-size: 30px;
  color: rgb(115, 28, 28);
}

.slick-dots li button:before {
  color: rgb(115, 28, 28);
}

.slick-dots li.slick-active button:before  {
  color: rgb(115, 28, 28);
}

img {
  transition: all ease-in-out .3s;
}

.slick-slide {
  transition: all ease-in-out .3s;
}