body {
  margin: 0;
  padding: 0;
  background-color:cadetblue;
}

.gallery {
  max-width: 800px;
  margin: 60px
}

@media (min-width: 800px) {
  .gallery{
      margin-top: 5%;
      margin-left: 24%;
  }
}